/* Navigation Bar */
body{
	font-family:'Verdana', sans serif;
	font-size:12px;
	margin: 0 auto;
	background-color: #DBDBDB; 
}

#rewardpicture {
	height: 125px;
	width: 100px;
	border: none;
	float: right;
}
#rewardpicture img{
	width: 100%;
	height: 100%;
}
#rank {
	float: right;
	margin: 0;
	font-size: 1em;
	margin-right: 10%;
	margin-top: 40px;
	margin-left: 15px;
	font-size: 1.5em;
}

#LP{
	font-family: 'Taviraj', serif;
	font-size: 21px;
	color: black;
	font-weight: bold;
	margin-top: 4px;
}
#makethreadbutton {
	margin: 2px;
	float: right;
}
#makethreadbutton:hover{
	text-decoration: underline;
}
#logout-button {
	margin: 2px;
	float: right;
}
#logout-button:hover{
	text-decoration: underline;
}
ul#navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #9DCBD8;
	margin-bottom: 1.25px;
}
.iconpic{
	margin-top: 3px; 
}
li.navbaritem a {
	display: block;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
}
a#selfprofile {
	margin:2px;
	float:right;
}
a#selfprofile:hover {
	text-decoration: underline;
}

a#LP {
	padding: 0;
	float: left;
	margin-left: 20px;
}
ul{
	list-style-type:none;
	margin: 0;
	padding: 0;
}
/* Navigation Bar END */
#lblimgurl{
	margin-left: 30px;
}
#changeprofilepic{
	margin-top:10px;
}
#changeprofilepic button{
	margin-left: 5px;
	font: bold 11px Arial;
	text-decoration: none;
	background-color: white;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}
/* Footer END */
#profile{
	font-family: 'Hind', sans serif;
}
/* Threads */
.iconpic{
	width:20px;
	height:20px;
	display: inline;
	margin-right:3px;
	margin-left: 3px;
}
.threadtitle {
	margin: 0;
	padding: 3px;
	font-size: 1.20em;
	display: inline;
}
/* Threads END */

/* All the rest */
body {
	margin: 0;
	background-color: #EFEDED;
}

div#profiledetails {
	margin:0;
	margin-top: 30px;
	height: 115px;
	background-color:#b5e4f2;
	width: 90%;
	padding: 10px;
	margin-left: 27px;
	border: 1px solid black;
}
div#profiledetails img:not(#reward) {
	border: .25px solid black;
	width: 100px;
	height: 100px;
	vertical-align: middle;
	margin-top: 5px;
}
div#profiledetails h1 {
	margin-left: 20px;
	display: inline;	
	font-size: 50;
	color: white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	vertical-align: middle;
}
div#samplethreadcontainer {
	border:0.5px solid black;
}
div#profileposts {
	background-color: white;
	background-color: #b5e4f2;
	padding: 17.5px;	
	margin-top: 30px;
	height: auto;
	margin-bottom: 15px;
	margin-left: 25px;
	width: 60%;
	border: 1px solid black;
}
div#profileposts h3 {
	display: inline;
}
div.threads {
	background-color:#eaeef2;
	padding: 10px;
	text-decoration: none;
}
div.threads a {
	text-decoration: none;
}
div#profileposts p.timepost {
	float: right;
	display: inline;
	margin: 0;
}
.threads:nth-child(even){
	background-color: white;
}
div.threads p:hover {
	cursor: pointer;
}
/* start of posts made */
#profileposts{
	
}





/* end of posts made */
div#postsandinfo{
	display:flex;
	margin-left: 0px;
}
div#personalinfo{
	position: relative;
	margin-top: 30px;
	margin-left: 50px;
	text-align: center;
}
table#tablepersonalinfo {
	border-collapse: collapse;
	background-color: #f4f9f9;
	border: 1px solid black;
}
.timepost{
	font-style: italic;
	margin: 0;
}
table#tablepersonalinfo td,th {
	padding: 10px;
}
table#tablepersonalinfo th:not(#aboutme) {
	text-align: right;
}
table#tablepersonalinfo #aboutme {
	background-color: #b5e4f2;
	vertical-align: middle;
	text-align: center;
}
p#activitytag{
	margin: 0;
	margin-left: 5px;
	margin-bottom: 12.5px;
	font-size: 16px;
	font-weight: bold;
}
hr {
	border-top: 1px dotted blue;
	border-bottom: 1px dotted #fff;
}
#delete{
  float: right;
  transition: 0.4s;
  font: bold 11px Arial;
  text-decoration: none;
  background-color: white;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  margin-left: 10px;
}
#delete:hover {
  background-color: #517aff;
  color: white;
}
#change{
	transition: 0.4s;
}
#change:hover{
	transition: 0.4s;
	cursor: pointer;
}

footer {
	border-color: rgb(228,228,228);
	background-color: white;
	background-color: #9DCBD8;
	padding: 5px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
footer p {
	text-align: center;
	margin: 5px;
}